.git
.github
.cursor
**/.DS_Store
**/*.log

**/node_modules
**/dist
apps/worker/client/dist
apps/worker/.wrangler

.env
.env.*
!.env.example
.dev.vars
**/.dev.vars

apps/worker
*.md
agent-transcripts
